/.metadata/
*.class
*.fdt
*.fnm
*.fdx
*.frq
*.DS_Store
*.classpath
*.project
*/.settings/*
*.nrm
*.prx
*.tii
*.tis
*.gen
.recommenders/index/*
/.recommenders/
.idea/misc.xml
*.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
